/* .box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    color: black;
    border: 1px solid black;
    margin: 50px;
    text-align: center;
    text-decoration: underline;
} */

/* .dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
} */